[submodule "opencv/background_learning"]
	path = opencv/background_learning
	url = https://jumanix@bitbucket.org/jumanix/contrib-user-ocv_backgroundlearn.git
[submodule "opencl/hellocl"]
	path = opencl/hellocl
	url = https://jumanix@bitbucket.org/jumanix/hellocl.git
