
################################################################################
#     OpenCL sample applications
################################################################################

comment "AEM OpenCL Applications"

config BOSP_SAMPLES_OPENCL
  bool "OpenCL"
  default n

source "samples/opencl/Kconfig"

################################################################################
#     OpenCV sample applications
################################################################################

comment "AEM OpenCV Applications"

config BOSP_SAMPLES_OPENCV
  bool OpenCV
  default n

source "samples/opencv/Kconfig"

