
################################################################################
#     OpenCL sample applications
################################################################################

menu "OpenCL"

source "samples/opencl/Kconfig"

endmenu

################################################################################
#     OpenCV sample applications
################################################################################

menu "OpenCV"

source "samples/opencv/Kconfig"

endmenu

