
config BOSP_SAMPLES_CPP
bool
default n

config BOSP_SAMPLES_OPENCL
bool
default n

config BOSP_SAMPLES_OPENCV
bool
default n

config BOSP_SAMPLES_PYTHON
bool
default n

################################################################################
#     C++ sample applications
################################################################################

menu "C++"

source "samples/cpp/Kconfig"

endmenu

################################################################################
#     OpenCL sample applications
################################################################################

menu "OpenCL"

source "samples/opencl/Kconfig"

endmenu

################################################################################
#     OpenCV sample applications
################################################################################

menu "OpenCV"

source "samples/opencv/Kconfig"

endmenu

################################################################################
#     Python sample applications
################################################################################

menu "Python"

source "samples/python/Kconfig"

endmenu

